@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключаем наши кастомные темы */
@import "./code-themes.css";
@import "./tailwind-components.css";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  /* Светлая тема по умолчанию */
  :root {
    --color-accent: #A6FF00;
    --color-gray: #C2C2C2;
    --color-background: #FFFFFF;
    --color-copy: #111111;
  }

  /* Темная тема */
  .dark {
    --color-accent: #FFA200;
    --color-gray: #8B0D98;
    --color-background: #111111;
    --color-copy: #FFFFFF;
  }

  body {
    @apply bg-light-background text-light-copy transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-background text-dark-copy;
  }

  h1 {
    @apply text-4xl font-bold text-light-copy;
  }

  h2 {
    @apply text-3xl font-semibold text-light-copy;
  }

  h3 {
    @apply text-2xl font-semibold text-light-copy;
  }

  .dark h1,
  .dark h2,
  .dark h3 {
    @apply text-dark-copy;
  }

}

