@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ваши кастомные стили */
.bg-test {
  @apply bg-red-500 text-white p-4 rounded-lg;
}

/* Кастомные компоненты */
.btn-primary {
  @apply bg-amber-300 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded transition-colors duration-200;
}

.btn-secondary {
  @apply bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 px-4 rounded transition-colors duration-200;
}
.btn-outline {
  @apply bg-lime-900 border hover:bg-gray-600 text-white font-medium py-2 px-4 rounded transition-colors duration-200;
}

.card {
  @apply bg-white rounded-lg shadow-md p-6 border border-gray-200;
}